<div class="imgur is-flex is-justify-content-center is-align-items-center">

	<blockquote class="imgur-embed-pub" lang="es" data-id="a/{{id}}">
		<a href="//imgur.com/a/{{id}}">Imgur Gallery</a>
	</blockquote>

	<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

</div>
